.big-input {
    font-size: 150%;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.btn {
    font-size: 150%;
    font-family: sans-serif;
}

.container {
    font-size: 150%;
    font-family: sans-serif;
}

.exercice {
    margin: 50px;
}