<!DOCTYPE html>
<html>
    <head>
        <title>JS Lab 1</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>

        <div class="container">
            <h1>JavaScript lab</h1>
            
            <div class="exercice">
                <input type="text" id="input-one" class="big-input"><br>
                <button id="btn-one" class="btn">Run code for exercise 1</button>
            </div>

            <div class="exercice">
                <input type="text" id="input-three" class="big-input"><br>
                <button id="btn-three" class="btn">Run code for exercice 3</button>
            </div>

        </div>
    </body>
</html>